:host{

  .root-popit__button {
    height: 60px;
    width: 60px;
    border-radius: 50% 50%;
  }

  .root-popit__button_background_red {
    background-color: red;
  }

  .root-popit__button_background_orange {
    background-color: orange;
  }

  .root-popit__button_background_yellow {
    background-color: yellow;
  }

  .root-popit__button_background_green {
    background-color: green;
  }

  .root-popit__button_pushed{
    background-color: lightgray;
  }

}
